body{
  background: linear-gradient(to right, rgb(4, 4, 4), rgba(1, 107, 100, 0.43));
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  color: aqua;
  font-family: "Press Start 2P", 'Franklin Gothic Medium', 'Arial Narrow', 'Arial, sans-serif';
  border-top-style:hidden;
  border-top-color: azure;
  text-decoration: dotted underline;
  border-left-style: double;
  border-left-width:10px ;


}
#p1{
  color: azure;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-decoration:aqua dotted underline;
  font-size: medium;
  border-style: outset;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 9px;
  border-style: double;
  border-width: 9px;
  padding: 6px;
  background: linear-gradient(black,rgb(0, 128, 109));
}

#box1{
  border: 5px solid;
  width: 250px;
  height:250px;
  font-size: 22px;
  background:rgba(16, 33, 33, 0.677);
  color: aliceblue;
   margin: 10px;
}
#box2{
  border: 5px solid;
  width: 250px;
  height:250px;
  font-size: 22px;
  background:rgba(16, 33, 33, 0.677);
  color: aliceblue;
   margin: 10px;
}
#box3{
  border: 5px solid;
  width: 250px;
  height:250px;
  font-size: 22px;
  background:rgba(16, 33, 33, 0.677);
  color: aliceblue;
  margin: 10px;
}
.boxes{
float: left;
padding: 5px;
}
#p2{
  color: azure;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  clear: left;
  
}

